# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@postgres_db:5432/postgres_db?connect_timeout=300"


# google auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4444/auth/google/callback
GOOGLE_SUCCESS_REDIRECT_URI=http://localhost:3333/dashboard

# jwt
JWT_SECRET='123456'

# mailer
MAILER_CLIENT_HOST=
MAILER_CLIENT_PORT=
MAILER_CLIENT_USERNAME=
MAILER_CLIENT_PASSWORD=
